# HTTP
PORT=4000

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=meta_lead_poc
DB_USER=root
DB_PASSWORD=

# Meta
META_ACCESS_TOKEN=
META_VERIFY_TOKEN=
META_APP_SECRET=
META_API_VERSION=v26.0
META_PAGE_ID=

# Express / CORS
CORS_ORIGIN=*
NODE_ENV=development

# Optional test endpoint
ENABLE_TEST_ROUTES=true
